                            <div class="row">
                                <div class="col-md-12">
                                    <!-- BEGIN PORTLET-->
                                    <div class="portlet box green">
                                        <div class="portlet-title">
                                            <div class="caption">
                                                <i class="fa fa-gift"></i>Daterange Pickers </div>
                                            <div class="tools">
                                                <a href="javascript:;" class="collapse"> </a>
                                                <a href="#portlet-config" data-toggle="modal" class="config"> </a>
                                                <a href="javascript:;" class="reload"> </a>
                                                <a href="javascript:;" class="remove"> </a>
                                            </div>
                                        </div>
                                        <div class="portlet-body form">
                                            <!-- BEGIN FORM-->
                                            <form action="#" class="form-horizontal form-bordered">
                                                <div class="form-body">
                                                    <div class="form-group ">
                                                        <label class="control-label col-md-3">Advance Date Ranges</label>
                                                        <div class="col-md-4">
                                                            <div id="reportrange" class="btn default">
                                                                <i class="fa fa-calendar"></i> &nbsp;
                                                                <span> </span>
                                                                <b class="fa fa-angle-down"></b>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group ">
                                                        <label class="control-label col-md-3">Week</label>
                                                        <div class="col-md-4">
                                                            <input type="text" id="ionRangeByWeek" name="example_name" value="" />
                                                        </div>
                                                    </div>
                                                    <div class="form-group ">
                                                        <label class="control-label col-md-3">Month</label>
                                                        <div class="col-md-4">
                                                            <input type="text" id="ionRangeByMonth" name="example_name" value="" />
                                                        </div>
                                                    </div>
                                                    <div class="form-group ">
                                                        <label class="control-label col-md-3">Quater</label>
                                                        <div class="col-md-4">
                                                            <input type="text" id="ionRangeByQuater" name="example_name" value="" />
                                                        </div>
                                                    </div>
                                                    <div class="form-group ">
                                                        <label class="control-label col-md-3">Half Year</label>
                                                        <div class="col-md-4">
                                                            <input type="text" id="ionRangeByHalfYear" name="example_name" value="" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                            <!-- END FORM-->
                                        </div>
                                    </div>
                                    <!-- END PORTLET-->
                                </div>
                            </div>