                                            <div class="portlet yellow-crusta box">
                                                <div class="portlet-title">
                                                    <div class="caption">
                                                        <i class="fa fa-cogs"></i>รายละเอียด </div>
                                                    <div class="actions">
                                                        <!-- <a href="javascript:;" class="btn btn-default btn-sm">
                                                            <i class="fa fa-pencil"></i> Edit 
                                                        </a> -->
                                                    </div>
                                                </div>
                                                <div class="portlet-body">
                                                    <div class="row static-info">
                                                        <div class="col-md-5 name"> เวลาออกศูนย์: </div>
                                                        <div class="col-md-7 value"> 05:58
                                                            <!-- <span class="label label-info label-sm"> Email confirmation was sent </span> -->
                                                        </div>
                                                    </div>
                                                    <div class="row static-info">
                                                        <div class="col-md-5 name"> ส่งจุดแรก: </div>
                                                        <div class="col-md-7 value"> 08:26 </div>
                                                    </div>
                                                    <div class="row static-info">
                                                        <div class="col-md-5 name"> ส่งจุดสุดท้าย: </div>
                                                        <div class="col-md-7 value">
                                                            <span class="label label-success"> 15:14 </span>
                                                        </div>
                                                    </div>
                                                    <div class="row static-info">
                                                        <div class="col-md-5 name"> จำนวน Drop: </div>
                                                        <div class="col-md-7 value"> 29 </div>
                                                    </div>
                                                    <div class="row static-info">
                                                        <div class="col-md-5 name"> Size : S </div>
                                                        <div class="col-md-7 value"> 2 </div>
                                                    </div>
                                                    <div class="row static-info">
                                                        <div class="col-md-5 name"> Size : A </div>
                                                        <div class="col-md-7 value"> 20 </div>
                                                    </div>
                                                    <div class="row static-info">
                                                        <div class="col-md-5 name"> Size : B </div>
                                                        <div class="col-md-7 value"> 123 </div>
                                                    </div>
                                                    <div class="row static-info">
                                                        <div class="col-md-5 name"> Size : C </div>
                                                        <div class="col-md-7 value"> 200 </div>
                                                    </div>
                                                    <div class="row static-info">
                                                        <div class="col-md-5 name"> Size : N/A </div>
                                                        <div class="col-md-7 value"> 0 </div>
                                                    </div>
                                                    <div class="row static-info">
                                                        <div class="col-md-5 name"> กล่องท้งหมด : </div>
                                                        <div class="col-md-7 value"> 40 </div>
                                                    </div>
                                                    <div class="row static-info">
                                                        <div class="col-md-5 name"> ค่าจ้าง พขร. : </div>
                                                        <div class="col-md-7 value"> 4,345 </div>
                                                    </div>
                                                    <div class="row static-info">
                                                        <div class="col-md-5 name"> หมายเหตุ : </div>
                                                        <div class="col-md-7 value"> xxx </div>
                                                    </div>
                                                </div>
                                            </div>