                            <div class="row">
                                <div class="col-md-12">
                                    <!-- BEGIN EXAMPLE TABLE PORTLET-->
                                    <div class="portlet light portlet-fit " style="background-color:blue">
                                        
                                        <div class="portlet-body">
                                            <div id="dropPerformanceChartID" style="background-color:red"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>



