                        <!-- BEGIN PAGE BREADCRUMBS -->
                        <ul class="page-breadcrumb breadcrumb">
                            <li>
                                <a href="index.html">Home</a>
                                <i class="fa fa-circle"></i>
                            </li>
                            <li>
                                <span>KPI</span>
                                <i class="fa fa-circle"></i>
                            </li>
                            <li>
                                <span>Operation</span>
                                <i class="fa fa-circle"></i>
                            </li>
                            <li>
                                <span>Operation performance</span>
                            </li>
                        </ul>
                        <!-- END PAGE BREADCRUMBS -->