// ConvertToContext
ConvertToContext: function (data) {
	// console.log('ConvertToContext');

var context = {};

// console.log(data);

context = data;


// $.each(data.rows, function(i, val){

//     console.log(i);
//     console.log(val.main_menu_title);
//     // console.log(pageName);

//     // <li class="<%= current_page.data.dashboard_isActive %>">
//     //     <a href="<%= current_page.data.dashboard_href %>"> Dashboard
//     //     <span class="arrow"></span>
//     //     </a>
//     // </li>

//   context = {
//     rows: [ 
//       { firstName: 'Homer', lastName: 'Simpson' },
//       { firstName: 'Peter', lastName: 'Griffin' },
//       { firstName: 'Eric', lastName: 'Cartman' },
//       { firstName: 'Kenny', lastName: 'McCormick' },
//       { firstName: 'Bart', lastName: 'Simpson' }
//     ]
//   };

// });


return context;
            

},