
                            <li class="menu-dropdown classic-menu-dropdown ">
                                <a href="javascript:;"> Daily Report
                                    <span class="arrow"></span>
                                </a>

                                <ul class="dropdown-menu pull-left">
                                    <li class="dropdown-submenu ">
                                        <a href="javascript:;" class="nav-link nav-toggle ">
                                            <!-- <i class="fa fa-money"></i>  -->
                                            MIS-01 : Operation
                                            <span class="arrow"></span>
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li class=" ">
                                                <a href="#" class="nav-link "> MIS-01-01 : รถรับสินค้า </a>
                                            </li>
                                            <li class=" ">
                                                <a href="#" class="nav-link "> MIS-01-02 : Receiving </a>
                                            </li>
                                            <li class=" ">
                                                <a href="#" class="nav-link "> MIS-01-03 : Sorting </a>
                                            </li>
                                            <li class=" ">
                                                <a href="#" class="nav-link "> MIS-01-04 : Shipout </a>
                                            </li>
                                            <li class="dropdown-submenu ">
                                                <a href="#" class="nav-link "> 
                                                	ธุรการ 
                                                	<span class="arrow"></span>
                                                </a>
                                                <ul class="dropdown-menu">
                                                	<li class=" ">
                                                		<a href="#" class="nav-link "> คีย์เอกสาร </a>
                                                	</li>
                                                	<li class=" ">
                                                		<a href="#" class="nav-link "> คืนเอกสาร </a>
                                                	</li>
                                                </ul>
                                            </li>
                                            <li class=" ">
                                                <a href="#" class="nav-link "> ยานพาหนะ (รถใหญ่) </a>
                                            </li>
                                            <li class=" ">
                                                <a href="#" class="nav-link "> DD (รถเล็ก) </a>
                                            </li>
                                            <li class="dropdown-submenu ">
                                                <a href="#" class="nav-link "> 
                                                	DC 
                                                	<span class="arrow"></span>
                                                </a>
                                                <ul class="dropdown-menu">
                                                	<li class=" ">
                                                		<a href="#" class="nav-link "> ศูนย์กรุงเทพฯ </a>
                                                	</li>
                                                	<li class=" ">
                                                		<a href="#" class="nav-link "> ศูนย์ภาคกลาง </a>
                                                	</li>
                                                	<li class="dropdown-submenu ">
                                                		<a href="#" class="nav-link "> 
                                                			ศูนย์ต่างจังหวัด 
                                                			<span class="arrow"></span>
                                                		</a>
                                                		<ul class="dropdown-menu">
                                                			<li class=" ">
                                                				<a href="#" class="nav-link "> นครสวรรค์ (N00) </a>
                                                			</li>
                                                			<li class=" ">
                                                				<a href="#" class="nav-link "> พิษณุโลก (N01) </a>
                                                			</li>
                                                			<li class=" ">
                                                				<a href="#" class="nav-link "> แพร่ (N02) </a>
                                                			</li>
                                                			<li class=" ">
                                                				<a href="#" class="nav-link "> เชียงใหม่ (N03) </a>
                                                			</li>
                                                			<li class=" ">
                                                				<a href="#" class="nav-link "> นครราชสีมา (E01) </a>
                                                			</li>
                                                			<li class=" ">
                                                				<a href="#" class="nav-link "> ขอนแก่น (E02) </a>
                                                			</li>
                                                			<li class=" ">
                                                				<a href="#" class="nav-link "> อุบลราชธานี (E03) </a>
                                                			</li>
                                                			<li class=" ">
                                                				<a href="#" class="nav-link "> ชุมพร (S01) </a>
                                                			</li>
                                                			<li class=" ">
                                                				<a href="#" class="nav-link "> สุราษธานี (S02) </a>
                                                			</li>
                                                			<li class=" ">
                                                				<a href="#" class="nav-link "> สงขลา (S03) </a>
                                                			</li>
                                                			<li class=" ">
                                                				<a href="#" class="nav-link "> ภูเก็ต (S04) </a>
                                                			</li>
                                                		</ul>
                                                	</li>
                                                	<li class="dropdown-submenu ">
                                                		<a href="#" class="nav-link "> 
                                                			Site งาน 
                                                			<span class="arrow"></span>
                                                		</a>
                                                		<ul class="dropdown-menu">
                                                			<li class=" ">
                                                				<a href="#" class="nav-link "> Better </a>
                                                			</li>
                                                			<li class=" ">
                                                				<a href="#" class="nav-link "> Zuellig </a>
                                                			</li>
                                                			<li class=" ">
                                                				<a href="#" class="nav-link "> Biopharm </a>
                                                			</li>
                                                		</ul>
                                                	</li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="dropdown-submenu ">
                                        <a href="javascript:;" class="nav-link nav-toggle ">
                                            <!-- <i class="fa fa-money"></i>  --> HR
                                            <span class="arrow"></span>
                                        </a>
                                    </li>
                                    <li class="dropdown-submenu ">
                                        <a href="javascript:;" class="nav-link nav-toggle ">
                                            <!-- <i class="fa fa-money"></i>  --> CS
                                            <span class="arrow"></span>
                                        </a>
                                    </li>
                                    <li class="dropdown-submenu ">
                                        <a href="javascript:;" class="nav-link nav-toggle ">
                                            <!-- <i class="fa fa-money"></i>  --> บัญชี
                                            <span class="arrow"></span>
                                        </a>
                                    </li>
                                    <li class="dropdown-submenu ">
                                        <a href="javascript:;" class="nav-link nav-toggle ">
                                            <!-- <i class="fa fa-money"></i>  --> เก็บเงินหน้าร้าน
                                            <span class="arrow"></span>
                                        </a>
                                    </li>
                                    <li class="dropdown-submenu ">
                                        <a href="javascript:;" class="nav-link nav-toggle ">
                                            <!-- <i class="fa fa-money"></i>  --> จัดซื้อ
                                            <span class="arrow"></span>
                                        </a>
                                    </li>
                                    <li class="dropdown-submenu ">
                                        <a href="javascript:;" class="nav-link nav-toggle ">
                                            <!-- <i class="fa fa-money"></i>  --> IT
                                            <span class="arrow"></span>
                                        </a>
                                    </li>
                                    <li class="dropdown-submenu ">
                                        <a href="javascript:;" class="nav-link nav-toggle ">
                                            <!-- <i class="fa fa-money"></i>  --> CN
                                            <span class="arrow"></span>
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li class=" ">
                                            <a href="#" class="nav-link "> GRMS Monitoring </a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>

                            </li>