                            <li class="<%= current_page.data.dashboard_isActive %>">
                                <a href="<%= current_page.data.dashboard_href %>"> Dashboard
                                    <span class="arrow"></span>
                                </a>
                            </li>