                            <li class="<%= current_page.data.kpi_operation_operationPerformance_isActive %> menu-dropdown classic-menu-dropdown ">
                                <a href="javascript:;"> KPI
                                    <span class="arrow"></span>
                                </a>
                                <ul class="dropdown-menu pull-left">
                                    <li class=" ">
                                        <a href="layout_mega_menu_light.html" class="nav-link  "> บัญชี </a>
                                    </li>
                                    <li class="dropdown-submenu ">
                                        <a href="javascript:;" class="nav-link nav-toggle ">
                                            Operation 
                                            <span class="arrow"></span>
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li class=" ">
                                            <a href="<%= current_page.data.kpi_operation_operationPerformance_href %>" class="nav-link "> Operation Performance </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class=" ">
                                        <a href="layout_mega_menu_light.html" class="nav-link  "> HR </a>
                                    </li>
                                    <li class=" ">
                                        <a href="layout_mega_menu_light.html" class="nav-link  "> IT </a>
                                    </li>
                                    <li class=" ">
                                        <a href="layout_mega_menu_light.html" class="nav-link  "> จัดซื้อ </a>
                                    </li>
                                </ul>
                            </li>