                                                        <div class="row number-stats margin-bottom-30">
                                                            <div class="col-md-6 col-sm-6 col-xs-6">
                                                                <div class="stat-left">
                                                                    <div class="stat-chart">
                                                                        <!-- do not line break "sparkline_bar" div. sparkline chart has an issue when the container div has line break -->
                                                                        <div id="sparkline_bar_averageBox_Epod"></div>
                                                                    </div>
                                                                    <div class="stat-number">
                                                                        <div class="title"> Average Box </div>
                                                                        <div class="number" id="epod-average-box-id"> - </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6 col-sm-6 col-xs-6">
                                                                <div class="stat-right">
                                                                    <div class="stat-chart">
                                                                        <!-- do not line break "sparkline_bar" div. sparkline chart has an issue when the container div has line break -->
                                                                        <div id="sparkline_bar_averageDrop_Epod"></div>
                                                                    </div>
                                                                    <div class="stat-number">
                                                                        <div class="title"> Average Drop </div>
                                                                        <div class="number" id="epod-average-drop-id"> - </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>