                            <div class="row" id="canvas-chartBoxSentPerformance">
                                <div class="col-md-12">
                                    <div class="portlet light portlet-fit ">
                                        <div class="portlet-title">
                                            <div class="caption">
                                                <i class=" icon-layers font-green"></i>
                                                <span class="caption-subject font-green bold uppercase">Box Sent Performance</span>
                                            </div>
                                            <div class="actions">
                                                <a class="btn btn-circle btn-icon-only btn-default" href="javascript:;">
                                                    <i class="icon-cloud-download"></i>
                                                </a>
                                                <a class="btn btn-circle btn-icon-only btn-default fullscreen" href="#" data-original-title="" title="" id="canvas-fullscreen-chartBoxSentPerformance"> 
                                                </a>
                                            </div>
                                        </div>
                                        <div class="portlet-body">
                                            <div id="chartBoxSentPerformance" style="height:50vh;"></div>
                                                     
                                        </div>
                                    </div>
                                </div>
                            </div>