                                        <div class="search-filter ">
                                            <div class="search-label uppercase">ศูนย์</div>
                                            <select class="form-control" name="station_id" id="station_selected_id">
                                                <option value="#" selected="">เลือกศูนย์</option>
                                                <option value="3">ศูนย์ภาคกลาง</option>
                                                <option value="8">DZ</option>
                                                <option value="11">ศูนย์นครสวรรค์</option>
                                                <option value="12">ศูนย์แพร่</option>
                                                <option value="13">ศูนย์พิษณุโลก</option>
                                                <option value="14">ศูนย์เชียงใหม่</option>
                                                <option value="15">ศูนย์โคราช</option>
                                                <option value="16">ศูนย์ขอนแก่น</option>
                                                <option value="17">ศูนย์อุบลฯ</option>
                                                <option value="18">ศูนย์ชุมพร</option>
                                                <option value="19">ศูนย์สุราษฎร์ฯ</option>
                                                <option value="20">ศูนย์หาดใหญ่</option>
                                                <option value="21">เบ็ทเทอร์</option>
                                                <option value="24">รถรับสินค้า</option>
                                                <option value="25">ยานพาหนะ</option>
                                                <option value="27">ศูนย์ภูเก็ต</option>
                                                <option value="29">BC</option>
                                                <option value="30">รถส่งสินค้า</option>
                                                <option value="33">ไบโอฟาร์ม</option>          
                                            </select>
                                            <div class="search-label uppercase">Date</div>
                                            <div class="input-icon right">
                                                <i class="icon-calendar"></i>
                                                <input class="form-control date-picker" type="text" placeholder="เลือกวันที่" id="dateSelected"/> 
                                            </div>
                                            <button class="btn green bold uppercase btn-block" id="btnSearchInfo">Search</button>
                                            <div class="search-filter-divider bg-grey-steel"></div>
                                            <div class="row">
                                                
                                            </div>
                                        </div>