                        <!-- BEGIN PAGE BREADCRUMBS -->
                        <ul class="page-breadcrumb breadcrumb">
                            <li>
                                <a href="<%= current_page.data.homeURL %>">Home</a>
                                <i class="fa fa-circle"></i>
                            </li>
                            <li>
                                <span>KPI</span>
                                <i class="fa fa-circle"></i>
                            </li>
                            <li>
                                <span>จัดซื้อ</span>
                            </li>
                        </ul>
                        <!-- END PAGE BREADCRUMBS -->