                                    <div class="portlet light canvas-information" id="canvas-information-half-year" style="display:none">
                                        <div class="portlet-title">
                                            <div class="caption font-dark">
                                                <i class="icon-settings font-dark"></i>
                                                <span class="caption-subject bold uppercase">Operation KPI</span>
                                                <span class="caption-helper">
                                                     <span >Half-year</span>
                                                    | <span id="site-name-label-half-year">-</span>
                                                    | <span class="hidden-xs" id="date-range-selected-label-half-year">Week#01/2016 - Week#52/2016 </span>
                                                </span>
                                            </div>
                                            <div class="actions">
                                                <a class="btn btn-circle btn-icon-only btn-default fullscreen" data-container="false" data-placement="bottom" href="javascript:;"> </a>
                                            </div>
                                            <div class="tools"> </div>
                                        </div>
                                        <div class="portlet-body" >

                                    
                                            
                                            <table class="table table-striped table-bordered table-hover" width="100%" id="datatableOperationKPI_Half-year">
                                            </table>


                                        </div>
                                    </div>
                                    